*, *::before, *::after {
	box-sizing: border-box;
}
body {
	font: 18px/1.5 Inter, sans-serif;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}
header, section:not(:empty) {
	padding: 20px;
}

main {
	text-align: center;
}
h1 {
	font-size: 48px;
	margin: 10px;
}
h2 {
	font-size: 28px;
	margin-bottom: 0;
}

.gradient {
	transition: .2s background-size ease-in-out;
	background-position: center;
	background-size: 100%;
}
.gradient:hover {
	background-size: 120%;
}
.gradient-blue {
	background-image: linear-gradient(109.6deg, rgb(62, 161, 219) 11.2%, rgb(93, 52, 236) 100.2% );
	color: #fff;
}
.text-blue {
	color: rgb(62, 161, 227);
}
.gradient-orange {
	background-image: linear-gradient( 109.6deg, rgb(255, 174, 0) 11.2%, rgb(255, 0, 0) 100.2% );
	color: #fff;
}
.text-orange {
	color: rgb(255, 165, 0);
}

.icon-filled {
	font-size: 35px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	width: 65px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
	transition: .2s transform ease-in-out;
}
.button:hover .icon-filled {
	transform: scale(1.1);
}

.icon-rect {
	width: 80%;
	padding: 10px 12px;
	border-radius: 5px;
	margin: 15px;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
	cursor: pointer;
}
.icon-rect.disabled {
	opacity: 0.75;
	pointer-events: none;
	cursor: no-drop;
}

.button {
	cursor: pointer;
	flex-grow: 1;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: .1s filter ease-in-out;
}
.button.no-cursor {
	cursor: initial;
}
.button span:first-child {
	display: block;
	margin-bottom: 40px;
}
.button.disabled {
	filter: grayscale(1);
}

#play-button {
	display: block;
	margin: 20px auto;
	margin-bottom: 28px;
	cursor: pointer;
}